@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: "Anton", sans-serif;
     font-weight: 400;
     font-style: normal;
    }
    h1{
        text-align: center;
        color:#c0e154d7;
        font-size: 2rem;
    }

    .container{
        width: 100%;
        max-width: 720px;
        margin:auto;
    }

    img{
        width: 100%;
        border-radius: 20px;
    }